@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome RestAPI developed by xiang kai</h1>
    <p>Click here to <a href="/user">Proceed to manage user page</a>.</p>
</div>
